In [2]:
l1=range(10)
l2=range(10,20)
res = []
for i,j in zip(l1,l2):
    res.append(i+j)
print res

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [4]:
l1=range(10)
l2=range(10,20)
res = []
for index,value in enumerate(l1):
    res.append(value+l2[index])
print res

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [6]:
for i in enumerate(['a','b','c','d']):
    print i

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [7]:
def add(a,b):
    return a+b
print map(add,l1,l2)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [8]:
print [i+j for i,j in zip(l1,l2)]

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [9]:
# add if only both list values are even

In [10]:
l1=range(30)
res = [i+10 for i in l1 if i%2==0]

In [11]:
res

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [12]:
# ternary operatot
a=int(raw_input("Enter number:"))
if a>0:
    b=10
else:
    b=0
print b

Enter number:12
10

In [13]:
# ternary operatot
a=int(raw_input("Enter number:"))
if a>0:
    b=10
else:
    b=0
print b

Enter number:-10
0

In [14]:
# ternary operatot
a=int(raw_input("Enter number:"))
b=10 if a>0 else 0 
print b

Enter number:12
10

In [15]:
l1=[1,2,3,4]
l2=[5,6,7,8]
zip(l1,l2)

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [16]:
l1=[1,2,3,4]
l2=[5,6]
zip(l1,l2)

[(1, 5), (2, 6)]

In [17]:
def add(a,b):
    return a+b
print map(add,[1,2,3],[4,5,6])

[5, 7, 9]

In [18]:
def add(a,b):
    return a+b
print map(add,[1,2,3,10],[4,5,6])

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [19]:
def fun(a,b=100):
    print "a={0}, b={1}".format(a,b)
    return a+b
print fun(10,20)
print fun(100)
print fun(100,200)

a=10, b=20
30
a=100, b=100
200
a=100, b=200
300

In [20]:
def fun(a=20,b=100):
    print "a={0}, b={1}".format(a,b)
    return a+b
print fun(10,20)
print fun(100)
print fun(100,200)
print fun()

a=10, b=20
30
a=100, b=100
200
a=100, b=200
300
a=20, b=100
120

In [21]:
print fun(100)

a=100, b=100
200

In [22]:
print fun(b=300)

a=20, b=300
320

In [23]:
print fun(b=1,a=2)

a=2, b=1
3

In [24]:
print fun(2,1)

a=2, b=1
3

In [25]:
print fun(b=10,a=3)

a=3, b=10
13

In [26]:
def fun(a=10,b=100):
    print "a={0}, b={1}".format(a,b)
    return a+b
print fun(a=100,b=200,c=300,d=400)

TypeError: fun() got an unexpected keyword argument 'c'

In [27]:
def fun(a=0,b=0,c=0,d=0):
    print "a={0}, b={1}".format(a,b)
    return a+b
print fun(a=100,b=200,c=300,d=400)

a=100, b=200
300

In [28]:
def fun(a=0,b=0,c=0,d=0):
    print "a={0}, b={1}".format(a,b)
    return a+b
print fun(a=100,b=200,c=300,d=400,e=500)

TypeError: fun() got an unexpected keyword argument 'e'

In [29]:
#Dixtionary
l=['a','b','c','d']
d={'name':'Anil','age':23,'sal':23423}

In [30]:
d[0]

KeyError: 0

In [31]:
d['name']

'Anil'

In [32]:
d['age']

23

In [33]:
d['sal']

23423

In [34]:
d

{'age': 23, 'name': 'Anil', 'sal': 23423}

In [35]:
d['name']="Anil123"

In [36]:
d

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [37]:
d={'name':'Anil','age':23,'sal':23423}

In [38]:
d[1:3]

TypeError: unhashable type

In [39]:
d

{'age': 23, 'name': 'Anil', 'sal': 23423}

In [40]:
d1=d

In [41]:
d

{'age': 23, 'name': 'Anil', 'sal': 23423}

In [42]:
d1

{'age': 23, 'name': 'Anil', 'sal': 23423}

In [43]:
d['name']="Anil123"

In [44]:
d

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [45]:
d1

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [46]:
l=[1,2,3,4]
l2=l

In [47]:
l.append(23)

In [48]:
l

[1, 2, 3, 4, 23]

In [49]:
l2

[1, 2, 3, 4, 23]

In [ ]:
# take a copy of a list which is not mutually change

In [50]:
d={'age': 23, 'name': 'Anil', 'sal': 23423}

In [51]:
d1=d

In [52]:
d['name']="Anil123"

In [53]:
d1

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [54]:
d2=d.copy()

In [55]:
d

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [56]:
d2

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [57]:
d

{'age': 23, 'name': 'Anil123', 'sal': 23423}

In [58]:
d1=d
d2=d.copy()

In [59]:
d['name']="Anil"

In [60]:
d1['name']

'Anil'

In [61]:
d2['name']

'Anil123'

In [62]:
d

{'age': 23, 'name': 'Anil', 'sal': 23423}

In [63]:
d['height']=5.6

In [64]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [65]:
d2={'cell':9765645678,'weight':72}

In [66]:
d.update(d2)

In [67]:
d

{'age': 23,
 'cell': 9765645678,
 'height': 5.6,
 'name': 'Anil',
 'sal': 23423,
 'weight': 72}

In [68]:
d

{'age': 23,
 'cell': 9765645678,
 'height': 5.6,
 'name': 'Anil',
 'sal': 23423,
 'weight': 72}

In [69]:
d2['weight']=90

In [70]:
d2

{'cell': 9765645678, 'weight': 90}

In [71]:
d

{'age': 23,
 'cell': 9765645678,
 'height': 5.6,
 'name': 'Anil',
 'sal': 23423,
 'weight': 72}

In [72]:
d={1:'int',2.3:"float","str":"string",(1,2,3):"tuple"}

In [73]:
d[(1,2,3)]

'tuple'

In [74]:
d[2.3]

'float'

In [75]:
d['1']

KeyError: '1'

In [76]:
d[1]

'int'

In [77]:
d

{1: 'int', 2.3: 'float', 'str': 'string', (1, 2, 3): 'tuple'}

In [78]:
d[[10,20]]="list"

TypeError: unhashable type: 'list'

In [79]:
t=(1,2,3)
d[t]="tupe"

In [80]:
l=[1,2,3]
d[l]="list"

TypeError: unhashable type: 'list'

In [81]:
d={1:100,2:300,1:4000}

In [82]:
d

{1: 4000, 2: 300}

In [83]:
d[1]

4000

In [84]:
d={'list':[10,20,30,40]}

In [85]:
d

{'list': [10, 20, 30, 40]}

In [86]:
d

{'list': [10, 20, 30, 40]}

In [87]:
d

{'list': [10, 20, 30, 40]}

In [88]:
d.clear()

In [89]:
d

{}

In [90]:
d={'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [91]:
d['age']

23

In [93]:
d['cell']

KeyError: 'cell'

In [94]:
d.get('age')

23

In [95]:
d.get('cel')

In [96]:
s= d.get('cel','default value')

In [97]:
s

'default value'

In [98]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [99]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [100]:
for i in d:
    print i

age
sal
name
height

In [101]:
for i in d:
    print i,d[i]

age 23
sal 23423
name Anil
height 5.6

In [102]:
for i in d:
    print i,d.get(i)

age 23
sal 23423
name Anil
height 5.6

In [103]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [104]:
d.keys()

['age', 'sal', 'name', 'height']

In [105]:
d.values()

[23, 23423, 'Anil', 5.6]

In [106]:
d.items()

[('age', 23), ('sal', 23423), ('name', 'Anil'), ('height', 5.6)]

In [107]:
for i in d.items():
    print i

('age', 23)
('sal', 23423)
('name', 'Anil')
('height', 5.6)

In [109]:
for key,value in d.items():
    print "key={0}, value={1}".format(key,value)

key=age, value=23
key=sal, value=23423
key=name, value=Anil
key=height, value=5.6

In [110]:
# wap to check given value is there in a dictionary or not
# wap to check given key is there in a dictionary or not
keys = range(10)
values=range(10,20)
# form a dictionary using above key and value pair.

In [111]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [112]:
a=10

In [113]:
del a

In [114]:
print a

NameError: name 'a' is not defined

In [115]:
d

{'age': 23, 'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [116]:
del d['age']

In [117]:
d

{'height': 5.6, 'name': 'Anil', 'sal': 23423}

In [118]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [119]:
d.pop('sal')

23423

In [120]:
d

{'height': 5.6, 'name': 'Anil'}

In [121]:
d.popitem()

('name', 'Anil')

In [122]:
d

{'height': 5.6}