In [1]:
print "sfsd"

sfsd

In [2]:
f=open('data2.txt')
data = f.read()

In [3]:
data

'name1,23,9678675467,email1@gamil.com\n23,name2,email2@yahoo.com,9678675468\n2345678924,name3,34,email3@outlook.com\n'

In [9]:
f1=open('data.csv')
data1=f1.read()

In [10]:
print data1

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [11]:
lines = data1.splitlines()

In [13]:
for line in lines:
    print line

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [14]:
for line in lines:
    print line.split(',')

['id', 'name', 'salary', 'address']
['1', 'name1', '1234', 'ad1']
['2', 'name2', '4567', 'ad2']
['3', 'name3', '8910', 'ad1']

In [15]:
for line in lines:
    print line.split(',')[2]

salary
1234
4567
8910

In [16]:
print data

name1,23,9678675467,email1@gamil.com
23,name2,email2@yahoo.com,9678675468
2345678924,name3,34,email3@outlook.com

In [17]:
lines = data.splitlines()

In [18]:
for line in lines:
    print line.split()

['name1,23,9678675467,email1@gamil.com']
['23,name2,email2@yahoo.com,9678675468']
['2345678924,name3,34,email3@outlook.com']

In [19]:
print data

name1,23,9678675467,email1@gamil.com
23,name2,email2@yahoo.com,9678675468
2345678924,name3,34,email3@outlook.com

In [20]:
import re

In [22]:
re.findall('[0-9]{10}',data)

['9678675467', '9678675468', '2345678924']

In [23]:
#meta characters []{}*.+?$^

In [24]:
data

'name1,23,9678675467,email1@gamil.com\n23,name2,email2@yahoo.com,9678675468\n2345678924,name3,34,email3@outlook.com\n'

In [25]:
re.findall('[abc]',data)

['a', 'a', 'a', 'c', 'a', 'a', 'a', 'c', 'a', 'a', 'c']

In [26]:
re.findall('[abcdefghijklmnopqrstuvwxyz]',data)

['n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'g',
 'a',
 'm',
 'i',
 'l',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'y',
 'a',
 'h',
 'o',
 'o',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 'c',
 'o',
 'm']

In [27]:
re.findall('[a-z]',data)

['n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'g',
 'a',
 'm',
 'i',
 'l',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'y',
 'a',
 'h',
 'o',
 'o',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 'c',
 'o',
 'm']

In [29]:
data = open('data.csv').read()
re.findall('[a-z]',data)

['i',
 'd',
 'n',
 'a',
 'm',
 'e',
 's',
 'a',
 'l',
 'a',
 'r',
 'y',
 'a',
 'd',
 'd',
 'r',
 'e',
 's',
 's',
 'n',
 'a',
 'm',
 'e',
 'a',
 'd',
 'n',
 'a',
 'm',
 'e',
 'a',
 'd',
 'n',
 'a',
 'm',
 'e',
 'a',
 'd']

In [31]:
data = open('data2.txt').read()
re.findall('[a-zA-Z]',data)

['N',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'g',
 'a',
 'm',
 'i',
 'l',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'E',
 'm',
 'a',
 'i',
 'l',
 'y',
 'a',
 'h',
 'o',
 'o',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 'c',
 'o',
 'M']

In [32]:
data = open('data2.txt').read()
re.findall('[a-z]',data,re.I)

['N',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'g',
 'a',
 'm',
 'i',
 'l',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'E',
 'm',
 'a',
 'i',
 'l',
 'y',
 'a',
 'h',
 'o',
 'o',
 'c',
 'o',
 'm',
 'n',
 'a',
 'm',
 'e',
 'e',
 'm',
 'a',
 'i',
 'l',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 'c',
 'o',
 'M']

In [33]:
data = open('data2.txt').read()

#charfollowedby a number
re.findall('[a-z][0-9]',data,re.I)

['e1', 'l1', 'e2', 'l2', 'e3', 'l3']

In [34]:
re.findall('[a-z]{3}',data,re.I)

['Nam',
 'ema',
 'gam',
 'com',
 'nam',
 'Ema',
 'yah',
 'com',
 'nam',
 'ema',
 'out',
 'loo',
 'coM']

In [35]:
re.findall('[a-z]{3,5}',data,re.I)

['Name',
 'email',
 'gamil',
 'com',
 'name',
 'Email',
 'yahoo',
 'com',
 'name',
 'email',
 'outlo',
 'coM']

In [36]:
re.findall('[a-z]+',data,re.I)

['Name',
 'email',
 'gamil',
 'com',
 'name',
 'Email',
 'yahoo',
 'com',
 'name',
 'email',
 'outlook',
 'coM']

In [37]:
re.findall('[a-z]*',data,re.I)

['Name',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'email',
 '',
 '',
 'gamil',
 '',
 'com',
 '',
 '',
 '',
 '',
 'name',
 '',
 '',
 'Email',
 '',
 '',
 'yahoo',
 '',
 'com',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'name',
 '',
 '',
 '',
 '',
 '',
 'email',
 '',
 '',
 'outlook',
 '',
 'coM',
 '',
 '']

In [38]:
re.findall('[a-z]?',data,re.I)

['N',
 'a',
 'm',
 'e',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'e',
 'm',
 'a',
 'i',
 'l',
 '',
 '',
 'g',
 'a',
 'm',
 'i',
 'l',
 '',
 'c',
 'o',
 'm',
 '',
 '',
 '',
 '',
 'n',
 'a',
 'm',
 'e',
 '',
 '',
 'E',
 'm',
 'a',
 'i',
 'l',
 '',
 '',
 'y',
 'a',
 'h',
 'o',
 'o',
 '',
 'c',
 'o',
 'm',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'n',
 'a',
 'm',
 'e',
 '',
 '',
 '',
 '',
 '',
 'e',
 'm',
 'a',
 'i',
 'l',
 '',
 '',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 '',
 'c',
 'o',
 'M',
 '',
 '']

In [39]:
re.findall('[a-z]+[0-9]?',data,re.I)

['Name1',
 'email1',
 'gamil',
 'com',
 'name2',
 'Email2',
 'yahoo',
 'com',
 'name3',
 'email3',
 'outlook',
 'coM']

In [53]:
re.findall('^[a-z]+[0-9]?',data,re.I)

['Name1']

In [49]:
print data

Name1,23,9678675467,email1@gamil.com
23,name2,Email2@yahoo.com,9678675468
2345678924,name3,34,email3@outlook.coM

In [55]:
re.findall('[a-z]$',data,re.I)

['M']

In [56]:
re.findall('[a-z]+[0-9]$',data,re.I)

[]

In [51]:
data

'Name1,23,9678675467,email1@gamil.com\n23,name2,Email2@yahoo.com,9678675468\n2345678924,name3,34,email3@outlook.coM\n'

In [57]:
re.findall('^[a-z]+[0-9]?',data,re.I|re.M)

['Name1']

In [58]:
re.findall('[a-z]+[0-9]?$',data,re.I|re.M)

['com', 'coM']

In [59]:
# . match for any char except \n

In [60]:
re.findall('.',data)

['N',
 'a',
 'm',
 'e',
 '1',
 ',',
 '2',
 '3',
 ',',
 '9',
 '6',
 '7',
 '8',
 '6',
 '7',
 '5',
 '4',
 '6',
 '7',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '1',
 '@',
 'g',
 'a',
 'm',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 '2',
 '3',
 ',',
 'n',
 'a',
 'm',
 'e',
 '2',
 ',',
 'E',
 'm',
 'a',
 'i',
 'l',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '9',
 '6',
 '7',
 '8',
 '6',
 '7',
 '5',
 '4',
 '6',
 '8',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '4',
 ',',
 'n',
 'a',
 'm',
 'e',
 '3',
 ',',
 '3',
 '4',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '3',
 '@',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 '.',
 'c',
 'o',
 'M']

In [61]:
re.findall('.',data,re.DOTALL)

['N',
 'a',
 'm',
 'e',
 '1',
 ',',
 '2',
 '3',
 ',',
 '9',
 '6',
 '7',
 '8',
 '6',
 '7',
 '5',
 '4',
 '6',
 '7',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '1',
 '@',
 'g',
 'a',
 'm',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 '\n',
 '2',
 '3',
 ',',
 'n',
 'a',
 'm',
 'e',
 '2',
 ',',
 'E',
 'm',
 'a',
 'i',
 'l',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 'm',
 ',',
 '9',
 '6',
 '7',
 '8',
 '6',
 '7',
 '5',
 '4',
 '6',
 '8',
 '\n',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '2',
 '4',
 ',',
 'n',
 'a',
 'm',
 'e',
 '3',
 ',',
 '3',
 '4',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '3',
 '@',
 'o',
 'u',
 't',
 'l',
 'o',
 'o',
 'k',
 '.',
 'c',
 'o',
 'M',
 '\n']

In [62]:
# reg

In [63]:
# format for phone number
re.findall('[0-9]{10}',data)

['9678675467', '9678675468', '2345678924']

In [64]:
# format for phone number
re.findall('[\d]{10}',data)

['9678675467', '9678675468', '2345678924']

In [65]:
re.findall('[^0-9]{10}',data)

['@gamil.com', '@yahoo.com', '@outlook.c']

In [66]:
re.findall('[\D]{10}',data)

['@gamil.com', '@yahoo.com', '@outlook.c']

In [67]:
re.findall('[a-z0-9]+@[a-z].[a-z]{2,3}',data,re.I)

['email1@gamil', 'Email2@yahoo', 'email3@outlo']

In [70]:
re.findall('[a-z0-9]+@[a-z]\.[a-z]{2,3}',data,re.I)

[]

In [71]:
re.findall('[a-z0-9]+@[a-z]+\.[a-z]{2,3}',data,re.I)

['email1@gamil.com', 'Email2@yahoo.com', 'email3@outlook.coM']

In [72]:
re.findall('[a-z0-9]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['email1@gamil.com', 'Email2@yahoo.com', 'email3@outlook.coM']

In [73]:
data = open('data2.txt').read()
re.findall('[a-z0-9]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['email1@gamil.com', 'il2@yahoo.com', 'email3@outlook.coM']

In [74]:
data = open('data2.txt').read()
re.findall('[a-z0-9$#%&]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['email1@gamil.com', 'Ema$il2@yahoo.com', 'email3@outlook.coM']

In [75]:
data = open('data2.txt').read()
re.findall('.+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['Name1,23,9678675467,email1@gamil.com',
 '23,name2,Ema$il2@yahoo.com',
 '2345678924,name3,34,email3@outlook.coM']

In [77]:
data = open('data2.txt').read()
re.findall('[\w]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['email1@gamil.com', 'il2@yahoo.com', 'email3@outlook.coM']

In [79]:
data = open('data2.txt').read()
re.findall('[0-9a-z]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

['email1@gamil.com', 'il2@yahoo.com', 'email3@outlook.coM']

In [81]:
data = open('data2.txt').read()
email = re.findall('[a-z0-9$#%&]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

In [82]:
email

['email1@gamil.com', 'Ema$il2@yahoo.com', 'email3@outlook.coM']

In [83]:
len(email)>1

True

In [84]:
data = open('data2.txt').read()
re.match('[a-z0-9$#%&]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

In [86]:
data = open('data2.txt').read()
matched = re.search('[a-z0-9$#%&]+@[a-z]+\.[cominrg]{2,3}',data,re.I)

In [88]:
matched.group(0)

'email1@gamil.com'

In [89]:
reg = re.compile('[a-z0-9$#%&]+@[a-z]+\.[cominrg]{2,3}')

In [90]:
reg.findall(data)

['email1@gamil.com', 'ma$il2@yahoo.com', 'email3@outlook.co']