In [1]:
f=open('data.csv','r')

In [2]:
f

In [3]:
data = f.read()

In [4]:
data

'id,name,salary,address\n1,name1,1234,ad1\n2,name2,4567,ad2\n3,name3,8910,ad1\n'

In [5]:
print data

id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [6]:
f.close()

In [7]:
f=open('data.csv','r')
data = f.readlines()
print data

['id,name,salary,address\n', '1,name1,1234,ad1\n', '2,name2,4567,ad2\n', '3,name3,8910,ad1\n']

In [8]:
f=open('data.csv','r')
data = f.read()
print "data=",data
data1 = f.read()
print "data1=",data1

data= id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

data1=

In [9]:
f=open('data.csv','r')
data = f.read()
print "data=",data
f.close()
f=open('data.csv','r')
data1 = f.read()
print "data1=",data1

data= id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

data1= id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [11]:
f=open('data.csv','r')
print "opened: ",f.tell()
data = f.read()
print "After read: ",f.tell()
print "data=",data
data1 = f.read()
print "After second read:",f.tell()
print "data1=",data1
print "Seeking the contrloer at first position"
f.seek(0)
print "Aftre seek: ",f.tell()
print "reading data from first"
data2 = f.read()
print "data2:",data2
print "seeking the controller at 9th position"
f.seek(9)
print f.tell()
print "reading data from 9th position"
data3 = f.read()
print "data2:",data3

opened:  0
After read:  74
data= id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

After second read: 74
data1=
Seeking the contrloer at first position
Aftre seek:  0
reading data from first
data2: id,name,salary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

seeking the controller at 9th position
9
reading data from 9th position
data2: alary,address
1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [12]:
f=open('data.csv')
print f.readline()

id,name,salary,address

In [13]:
f.readline()

'1,name1,1234,ad1\n'

In [14]:
f.readline()

'2,name2,4567,ad2\n'

In [15]:
f=open('data.csv')
print "first line:",f.readline()
print "data:",f.read()

first line: id,name,salary,address

data: 1,name1,1234,ad1
2,name2,4567,ad2
3,name3,8910,ad1

In [16]:
f=open('data1.csv','w')

In [17]:
f=open('data1.csv','w')
f.write("this is the first line of the file")

In [18]:
f=open('data1.csv','w')
f.write("this is the first line of the file")
f.close()

In [19]:
f=open('data1.csv','w')

In [20]:
f=open('data1.csv','w')
f.write("this is the first line of the file\n")
f.write("this is the second line of the file")

f.close()

In [22]:
f=open('data1.csv','w')
f.write("this is the first line of the file\n")
f.write("this is the second line of the file\n")
f.write("this is the second line of the file\n")
f.flush()
f.write("this is the fourth line of the file")

In [23]:
f=open('data1.csv','w')
f.write("this is the first line of the file\n")
f.write("this is the second line of the file\n")
f.close()

f.write("this is the third line of the file")

ValueError: I/O operation on closed file

In [24]:
f=open('data1.csv','w')
f.write("this is the first line of the file\n")
f.write("this is the second line of the file\n")
f.write("this is the third line of the file\n")
f.flush()
f.write("this is the fourth line of the file")